<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hst.pofoland.biz.board.dao.BoardDAO">
    
    <!-- 신규 게시글 등록 쿼리 -->
    <insert id="insertBoard" keyProperty="boardSeq">
        INSERT INTO Board (
            BOARD_TITLE,
            BOARD_CONTENT,
            BOARD_CATE_SEQ,
            JOB_CATE_SEQ,
            USER_SEQ
        ) VALUES (
            #{boardTitle},
            #{boardContent},
            #{boardCateSeq},
            #{jobCateSeq},
            #{userSeq}
        )
        <selectKey keyProperty="boardSeq" resultType="int">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <!-- 게시글 조회 쿼리  -->
    <select id="selectBoard" parameterType="BoardVO" resultType="BoardVO">
        SELECT B.BOARD_SEQ,
               B.BOARD_TITLE,
               B.BOARD_CONTENT,
               B.BOARD_REG_DT,
               B.BOARD_UDT_DT,
               B.BOARD_HIT_CNT,
               B.BOARD_CATE_SEQ,
               BC.BOARD_CATE_NAME,
               B.JOB_CATE_SEQ,
               JC.JOB_CATE_NAME,
               B.USER_SEQ,
               U.USER_NICK               
          FROM Board B,
               User U,
               BoardCategory BC,
               JobCategory JC
         WHERE B.BOARD_DEL_YN = 'N' AND
               B.USER_SEQ = U.USER_SEQ AND
               B.BOARD_CATE_SEQ = BC.BOARD_CATE_SEQ AND
               B.JOB_CATE_SEQ = JC.JOB_CATE_SEQ
               <if test="jobCateSeq != 0">
               AND B.JOB_CATE_SEQ = #{jobCateSeq}
               </if>
               <if test="boardCateSeq != 0">
               AND B.BOARD_CATE_SEQ = #{boardCateSeq}
               </if>
         LIMIT #{firstRecordIndex}, #{recordCountPerPage} 
    </select>
    
    <!-- 게시글 갯수 조회 쿼리 -->
    <select id="selectTotalRecordCount" resultType="int">
        SELECT COUNT(*)
          FROM Board B,
               User U,
               BoardCategory BC,
               JobCategory JC
         WHERE B.BOARD_DEL_YN = 'N' AND
               B.USER_SEQ = U.USER_SEQ AND
               B.BOARD_CATE_SEQ = BC.BOARD_CATE_SEQ AND
               B.JOB_CATE_SEQ = JC.JOB_CATE_SEQ
               <if test="jobCateSeq != 0">
               AND B.JOB_CATE_SEQ = #{jobCateSeq}
               </if>
               <if test="boardCateSeq != 0">
               AND B.BOARD_CATE_SEQ = #{boardCateSeq}
               </if>
    </select>

</mapper>