<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hst.pofoland.biz.user.UserDAO">

	<insert id="insertUser" keyProperty="userSeq">
		INSERT INTO User (
			USER_ID,
			USER_PW,
			USER_NICK,
			USER_EMAIL,
			USER_AUTH_KEY
		) VALUES (
			#{userId},
			#{userPw},
			#{userNick},
			#{userEmail},
			#{userAuthKey}
		)
		
		<selectKey keyProperty="userSeq" resultType="int">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>

</mapper>